/* 抄袭alice.poptip 样式模块：https://github.com/aliceui/poptip/blob/master/src/poptip.css */

.mui-poptip {
    color: #DB7C22;
    z-index: 101;
    font-size: 12px;
    line-height: 1.5;
    zoom: 1;
}

.mui-poptip-shadow {
    background-color: rgba(229, 169, 107, 0.15);
    filter: progid:DXImageTransform.Microsoft.Gradient(startColorstr=#26e5a96b, endColorstr=#26e5a96b);
    /* Math.floor(0.15 * 255).toString(16); */
    border-radius: 2px;
    padding: 0 2px 2px 0;
    zoom: 1;
    _display: inline;
 }

.mui-poptip-container {
    position: relative;
    background-color: #FFFCEF;
    border: 1px solid #ffbb76;
    /*border-radius: 2px;*/
    padding: 15px;
    zoom: 1;
		z-index:20;
    _display: inline;
}

.mui-poptip:after,
.mui-poptip-shadow:after,
.mui-poptip-container:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

a.mui-poptip-close {
    position: absolute;
    right: 3px;
    top: 3px;
    border: 1px solid #ffc891;
    text-decoration: none;
    border-radius: 3px;
    width: 12px;
    height: 12px;
    font-family: tahoma;
    color: #dd7e00;
    line-height: 10px;
    *line-height: 12px;
    text-align: center;
    font-size: 14px;
    background: #ffd7af;
    background: -webkit-gradient(linear, left top, left bottom, from(#FFF0E1), to(#FFE7CD));
    background: -moz-linear-gradient(top, #FFF0E1, #FFE7CD);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFF0E1', endColorstr='#FFE7CD');
    background: -o-linear-gradient(top, #FFF0E1, #FFE7CD);
    background: linear-gradient(top, #FFF0E1, #FFE7CD);
    overflow: hidden;
}

a.mui-poptip-close:hover {
    border: 1px solid #ffb24c;
    text-decoration: none;
    color: #dd7e00;
    background: #ffd7af;
    background: -webkit-gradient(linear, left top, left bottom, from(#FFE5CA), to(#FFCC98));
    background: -moz-linear-gradient(top, #FFE5CA, #FFCC98);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFE5CA', endColorstr='#FFCC98');
    background: -o-linear-gradient(top, #FFE5CA, #FFCC98);
    background: linear-gradient(top, #FFE5CA, #FFCC98);
}


.mui-poptip-arrow {
    position: absolute;
    z-index: 10;
    *zoom: 1;
}

.mui-poptip-arrow em, .mui-poptip-arrow span {
    position: absolute;
    *zoom: 1;
    width: 0;
    height: 0;
    /* 解决window下firefox的border渲染出深色边框的问题 */
    /* http://stackoverflow.com/questions/13630886/firefox-17-and-css-borders-based-triangles-not-rendering-properly */
    border-color: rgba(255, 255, 255, 0);
    border-color: transparent\0;
    *border-color: transparent;
    _border-color:tomato;
    _filter:chroma(color=tomato); /* http://blog.sina.com.cn/s/blog_6283c54a0100f7ae.html */
    border-style: solid;
    overflow: hidden;
    top: 0;
    left: 0;
}

/* 箭头用 border 实现 http://www.css88.com/demo/border/border1.html */

/* 箭头在左边 l */
.mui-poptip-arrow-l {
    left: -6px;
    top: 50%;
}
.mui-poptip-arrow-l em {
    top: 0;
    left: -1px;
    border-right-color: #ffbb76;
    border-width: 6px 6px 6px 0;
}

.mui-poptip-arrow-l span {
    border-right-color: #FFFCEF;
    border-width: 6px 6px 6px 0;
}

/* 箭头在右边 r */
.mui-poptip-arrow-r {
    top: 50%;
    right: 0;
}

.mui-poptip-arrow-r em {
    top: 0;
    left: 1px;
    border-left-color: #ffbb76;
    border-width: 6px 0 6px 6px;
}

.mui-poptip-arrow-r span {
    border-left-color: #FFFCEF;
    border-width: 6px 0 6px 6px;
}

.mui-poptip-arrow-t em {
    border-width: 0 6px 6px;
    border-bottom-color: #ffbb76;
    top: -1px;
    left: 0;
}

.mui-poptip-arrow-t span {
    border-width: 0 6px 6px;
    border-bottom-color: #FFFCEF;
}
.mui-poptip-arrow-t {
    left: 50%;
    top: -6px;
}

.mui-poptip-arrow-b em{
    border-width: 6px 6px 0;
    border-top-color: #ffbb76;
    top: 1px;
    left: 0;
}

.mui-poptip-arrow-b span{
    border-width: 6px 6px 0;
    border-top-color: #FFFCEF;
}

.mui-poptip-arrow-b {
    right: 50%;
    bottom: 0;
}

/* ie9 filter */
:root .mui-poptip-shadow {
    FILTER: none\9;
}
/* 白色 */
.mui-poptip-white {
    color: #333;
}
.mui-poptip-white .mui-poptip-shadow {
    background-color: #ededed;
}

.mui-poptip-white .mui-poptip-container {
    background-color: #fff;
    border: 1px solid #dcdcdc;
}
.mui-poptip-white .mui-poptip-arrow-l em {
    border-right-color: #dcdcdc;
}
.mui-poptip-white .mui-poptip-arrow-t em{
    border-bottom-color: #dcdcdc;
}
.mui-poptip-white .mui-poptip-arrow-r em{
    border-left-color: #dcdcdc;
}
.mui-poptip-white .mui-poptip-arrow-b em {
    border-top-color: #dcdcdc;
}
.mui-poptip-white .mui-poptip-arrow-l span {
    border-right-color: #fff;
}
.mui-poptip-white .mui-poptip-arrow-t span{
    border-bottom-color: #fff;
}
.mui-poptip-white .mui-poptip-arrow-r span{
    border-left-color: #fff;
}
.mui-poptip-white .mui-poptip-arrow-b span{
    border-top-color: #fff;
}